#cosasc h3, h4{
	text-align: center;
}

#cosasc .contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#cosasc article{
	margin: 15px;
}

#cosasc img{
	width: 100%;
	max-width: 200px;
}