
.icon-shop:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-basket-1:before { content: '\e802'; } /* '' */
.icon-basket-2:before { content: '\e803'; } /* '' */
.icon-to-start:before { content: '\e804'; } /* '' */
.icon-error:before { content: '\e805'; } /* '' */
.icon-error-alt:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-th-list:before { content: '\e808'; } /* '' */
.icon-cancel-circled2:before { content: '\e809'; } /* '' */
.icon-cancel-circled:before { content: '\e80a'; } /* '' */
.icon-tag:before { content: '\e80b'; } /* '' */
.icon-tags:before { content: '\e80c'; } /* '' */
.icon-tag-1:before { content: '\e80d'; } /* '' */
.icon-tag-2:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */